body {
    margin: 0;
    padding: 0;
}
.center-cropped {
    width: 100%;
    height: 300px;
    background-image: url('../images/Title.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
  }

.text {
    font-size: 12pt;
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 1000px;
    padding: 0;
    color: lightblue;
}

.menubar {
    width: 100%;
    height: 50px;
    background-color: #1d1d1d;
    position: relative;
    margin: 0;
    padding: 0;
    top: -175px;
}

.logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: block;
    height: 175px;
    width: 175px;
    top: -225px;
  }

  .footer {
    position: relative;
    background-color: #333;
    right: 0;
    left: 0;
    padding-bottom: 3em;
    margin-bottom: -2em;
    text-align: center;
    width: 100%;
    height: 10px;
    top: 100%;
    content: e;
  }

  .footertext {
    position: relative;
    text-align: center;
    float: right;
    color: #ffffff;
    z-index: 5;
    margin: 0;
    padding: 0em;
    padding-bottom: 0;
    padding-right: 0;
    top: 100%;
    top: 2em;
  }
  




/*Scrollbar*/
/* width */

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(71, 71, 71); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #272727; 
  }



@font-face { font-family: LeagueGothicRegular; src: url('../fonts/LeagueGothic-Regular.ttf'); }








@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
  background: #222629;
}
.hidden {
  opacity: 0;
}
.console-container {
  font-family: Khula;
  font-size: 4em;
  text-align: center;
  height: 200px;
  width: 700px;
  display: block;
  position: absolute;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}






ul {
  top: -175px;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rebeccapurple;
}






.text{ 
    animation: fadeInAnimation ease 2.5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}




.logo {
	animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

li {
	animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}










  







#text {
	-webkit-animation-direction: normal;
	-webkit-animation-duration: 15s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: colours;
	-webkit-animation-timing-function: ease;
}

@-webkit-keyframes colours {
	 0% {color: #39f;}
	 12.5% {color: #8bc5d1;}
	 25% {color: #f8cb4a;}
	 15% {color: #95b850;}
	 37.5% {color: #944893;}
	 50% {color: #c71f00;}
	 75.5% {color: #bdb280;}
	 100% {color: #39f;}
}