@import url(https://fonts.googleapis.com/css?family=Khula:700);
body {
  background: #222629;
}
.hidden {
  opacity: 0;
}
.console-container {
  font-family: Khula;
  font-size: 4em;
  text-align: center;
  height: 200px;
  width: 600px;
  display: block;
  position: absolute;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}











#text {
	-webkit-animation-direction: normal;
	-webkit-animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: colours;
	-webkit-animation-timing-function: ease;
}

@-webkit-keyframes colours {
	 0% {color: #39f;}
	 12.5% {color: #8bc5d1;}
	 25% {color: #f8cb4a;}
	 15% {color: #95b850;}
	 37.5% {color: #944893;}
	 50% {color: #c71f00;}
	 75.5% {color: #bdb280;}
	 100% {color: #39f;}
}